version: '3.9'

services:
  app:
    build: .
    ports:
      - "8081:8081"
    volumes:
      - ./ui:/app/ui
      - ./links.json:/app/links.json
    environment:
      CHROME_BIN: /usr/bin/chromium-browser
      CHROME_PATH: /usr/lib/chromium/
