:root {
  --bg-color: #121212;
  --text-color: #e1e1e1;
  --link-color: #bb86fc;
  --header-bg: #1f1f1f;
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #121212;
  --link-color: #007acc;
  --header-bg: #f4f4f4;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

header {
  background: var(--header-bg);
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header h1 {
  margin: 0;
}

.toggles label {
  margin-right: 15px;
  font-size: 0.9rem;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  margin-bottom: 5px;
  border-radius: 8px;
}

#links-list {
  padding: 0 5em;
}

.date-header {
  padding-left: 2em;
  font-size: 1.2rem;
  margin-top: 20px;
  color: var(--link-color);
  border: none;
}

a {
  text-decoration: none;
  color: var(--link-color);
  display: flex;
  align-items: center;
}

a img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

iframe {
  width: 60vw;
  height: calc(60vw * 0.5625); /* Assuming a 16:9 aspect ratio */
}

.links-list img,
video {
  max-width: 100%;
  max-height: 80vh;
}

/* General styles for link items */
.link-item {
  margin-bottom: 10px;
  background-color: var(--header-bg);
}

.link {
  flex: 1;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  padding: 1em;
  color: var(--text-color);
}

.link img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* Styles for the comment icon */
.comment-link {
  display: flex;
  justify-content: flex-end;
}

.comment-icon {
  background-image: url("icons/comment.gif"); /* Verify this path */
  background-size: contain; /* Ensure the image scales properly */
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-number {
  position: absolute;
  color: var(--text-color);
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
}

/* Additional Styles */
.nsfw {
  background-color: rgba(255, 0, 0, 0.2);
}

.nsfw .nsfw-icon {
  margin-left: 10px;
  color: red;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Modal Overlay Click */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  color: white;
}

.modal-content {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: black;
}

.close {
  position: absolute;
  top: -10px;
  right: 0px;
  font-size: 40px;
  cursor: pointer;
}

.modal.open {
  display: flex;
}

.redirect-icon {
  margin-left: 10px;
}
